<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    IMEI.info: <form action="https://www.imei.info/api/checkimei" method="POST">
        API Key: <input type="text" name="key" />
        Imei: <input type="text" name="imei" />
        <button type="submit">Check!</button>
        </form>
</body>
</html>